body{
    position: relative;
    min-height: 100%;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

h1{
    margin-top: 0px;
}

#main{
    width: 70%;
    margin: auto;
}

img{
    width:90px;
    height: 90px;
    margin: 10px;
    cursor: pointer;
}

#navbar{
    display: flex;
    justify-content: flex-start;
    margin: none;
}

span{
    display: inline-block;
    color: #7698e7;
    margin-top: 20px;
    margin-bottom: 20px;
}

.passArea{
    width: 56%;
    text-align: center;
    margin: auto;
    margin-top: 3rem;
    box-shadow: 0 0px 10px 0 rgba(128, 126, 126, 0.2), 0 0px 10px 0 rgba(97, 94, 94, 0.19);
    border-radius: 5px;
    height: 8em;
    display: flex;
    flex-direction: column;
    /* word-wrap: break-word; */
    margin-bottom: 3rem;
}

.passDiv{
    overflow-x: auto;
    overflow-y: auto;
}

.bar{
    width: 100%;
    background-color: #7698e7;
    height:1rem;
    margin-top: auto;
}

hr{
    height:2px;
    border-width:0;
    color: #7698e7;
    background-color: #7698e7;
}

footer{
    background-color: #7698e7;
    color: white;
    padding:.8rem;
    position: absolute;
    bottom: 0;
    height: 2rem;
    left: 0;
    right: 0;
}

@media only screen and (max-width: 450px) {
    footer{
        background-color: #7698e7;
        color: white;
        padding:.8rem;
        position: relative;
        top: 4rem;
        height: 2rem;
        left: 0;
        right: 0;
    }
}

input{
    text-align: center;
    font-size: 2rem;
    appearance: none;
    border: none;
    outline: none;
    width:99%;
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
    font-family: "Montserrat", sans-serif;
}

#result{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
